# Example of .env file, rename to .env and change values as appropriate

# Areas to observer, these define a list of upper left and bottom right corners of squares
AREA_OF_INTEREST = [[[ 16.272511, 40.919538], [10.961898, 50.078362 ]]]

# Number of requests to buffer before inserting to bigquery
BIGQUERY_BUFFER_SIZE = 100

# The secret name for the APIKEY to send to AISStream
AISSTREAM_APIKEY_SECRET_NAME = "projects/<GOOGLE PROJECT ID>/secrets/<AISSTREAM API KEY SECRET NAME>/versions/latest"
