# Example of .env file, rename to .env and change values as appropriate
# Number of requests to buffer before inserting to bigquery
BIGQUERY_DATASET_ID= 'AIS'
BIGQUERY_POSITION_REPORTS_TABLE_ID='Posiion Reports'
BIGQUERY_BUFFER_SIZE = 100
# AISSTREAM_APIKEY = '<API KEY>' # If present use instead of AISSTREAM_APIKEY_SECRET_NAME
# The secret name for the APIKEY to send to AISStream
# projects/<PROJECT_NAMBER>/secrets/<SECRET_NAME>/versions/latest
AISSTREAM_APIKEY_SECRET_NAME = "projects/<GOOGLE PROJECT NUMBER>/secrets/<AISSTREAM API KEY SECRET NAME>/versions/latest"
# The Config JSON
CONFIG_BUCKET = "<BUCKET NAME>" # Omit for local path
CONFIG_PATH = "config/ais_listener.conf.json" 
PORT = 8080
